@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f2f2f2;
    --cor-terciaria: #22d4fd;

    --fonte-primaria: 'Krona one', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

    --font-size-primario: 2.25rem;
    --font-size-secundario: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__links{
    font-family: var(--fonte-secundaria);
    font-size: var(--font-size-secundario);
    font-weight: 400;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.destaque-titulo {
    color: var(--cor-terciaria);
}

.layout {
    padding: 5% 15%;
    display: flex;
    gap: 82px;
    align-items: center;
    justify-content: space-between;
}

.layout__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.layout__conteudo__titulo {
    font-size: var(--font-size-primario);
    font-family: var(--fonte-primaria);
}

.layout__conteudo__texto {
    font-size: var(--font-size-secundario);
    font-family: var(--fonte-secundaria);
}

.layout__conteudo__sobre {
    font-size: var(--font-size-secundario);
    font-family: var(--fonte-secundaria);
    padding-right: 10%;
}

.layout__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.layout_links_subtext{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: var(--font-size-secundario);
}

.layout__links__btn {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    padding: 21.5px 0;
    border-radius: 8px;
    font-size: var(--font-size-secundario);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
    align-items: center;
    text-align: center;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
}

.layout__links__btn:hover{
    background-color: #272727;
}

.layout__image{
    width: 50%;
}

.rodape{
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
}

@media (max-width: 1240px) {
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .layout{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .layout__conteudo {
        width: auto;
    }
}